# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/
.conda/
.env/

# IDE / editor files
.vscode/
.idea/
*.swp

# macOS junk
.DS_Store

# Logs / experiment outputs
*.log
runs/
wandb/

# Large files (download separately)
models/
data/
*.pkl
*.npy
*.npz
*.pt

.venv_plot/
